
body {
    margin: 0;
    background: #1C1C1C;
    height: 100vh;
    
    
}

.container{
    margin: 30px auto;
    background-color: #1F2937;
    font-family: 'Karla', sans-serif;
    width: 300px;
    height: 405px;
    padding: 75px 144px 0px 52px;
    border-radius: 15px;
    
}

.container h1{
    color: #FFFFFF;
    
    
  
}


.container p {
    color: #D5D4D8;
    font-size: 18px;
    width: 372px;
}

.change-color{
    color: #4ADF86;
   
    
}

.container button{
    margin-top: 25px;
    background-color: #10B981;
    border-radius: 6px;
    color: white;
    padding: 9px 17px;
    font-size: 15px;
}
.container h4{
    width: 370px;
    border: 1px solid #2F3E53;
}

.container label {
    color: #D5D4D8;
    font-style: italic;
   
}

.password {
    display: flex;
    justify-content: space-between;
    width: 370px;
    
    
}

#password1-el {
    width: 140px;
    height: 25px;
    padding: 3px 7px;
    text-align: center;
    background: #273549;
    border-radius: 6px;
    color: #55F991;
    margin-top: 10px;
    margin-left: 5px;
    word-wrap: break-word;
    border: 1px solid #55a630;
  
}
#password2-el {
    width: 140px;
    height: 25px;
    padding: 3px 7px;
    text-align: center;
    background: #273549;
    border-radius: 6px;
    color: #55F991;
    margin-top: 10px;
    margin-left: 5px;
    word-wrap: break-word;
    border: 1px solid #55a630;
  
}

